{{#searchWithContent}}
  <div class="col search">
    <span class="search-toggle"></span>
    <div class="search-inner">
      {{>starterkit-molecules-header-search}}
      <div class="more-info">
        <div class="more-info-section">
          {{>starterkit-atoms-headings}}
          {{>starterkit-atoms-link-list}}
        </div><!-- .more-info-section -->
      </div><!-- .more-info -->
    </div><!-- .search-inner -->
  </div><!-- .search -->
{{/searchWithContent}}