/*START: Image text CTA multicolumn styles*/
.img-txt-stacked{
	margin-bottom: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	img{
		margin: 0 auto;
		display: block;
	}
	.txt-cta-wrap{
		padding: 10px 0 14px;
		margin-bottom: 10px;
		margin-left: -5px;
		margin-right: -5px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;

		p{
			text-align: center;
		}
		.cta-btn{
			width: 100%;
			margin: 0 auto;
			max-width: 350px;
			display: block;
			align-self: flex-end;
		}
		@media  (min-width: 62.5em){
			padding:10px;
	    padding-bottom: 15px;
	    margin-bottom: 0;
	    margin-left: 0;
	    margin-right: 0;
	    .cta-btn{
	    	line-height: 16px;
	    	padding-left: 20px;
	    	/*padding-right: 57px;*/
	    	white-space: normal;
	    }
	    p{
	    	text-align: left;
	    }
		}
	}
	@media  (max-width: $tablet-breakpoint-max){
		max-width: 100%;
		flex-basis: 100%;
	}
}

.img-txt-aside{
	img{
		margin: 10px auto;
	}
	@media  (min-width: 62.5em){
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: flex-start;
		.txt-cta-wrap{
			padding-left: 15px;
			position: relative;
			top:49px;
		}
		img{
			margin: 15px 0 10px 30px;
		}
	}
	@media  (max-width: $tablet-breakpoint-max){
		max-width: 100%;
		flex-basis: 100%;
	}
}