ul.connect {
  float: right;
  padding: 9px 20px 17px;
  margin-right: -10px;
  margin-left: -10px;

  li {
    float: left;
    list-style: none;
    line-height: 12px;
    margin: 0;
    a {
      padding: 0 10px;
      border-right: 1px solid $base-grey-color;
      font-size: 12px;
      color: $base-grey-color;
      font-weight: 700;

      &:hover,
      &:focus,
      &:active {
        color: $base-blue-color;
      }
    }

    &:only-child {
      a {
        border-right: 0;
      }
    }

    &:last-child {
      a {
        border-right: 0;
      }
    }
  }

}