{{#imageCarousalImageOnly}}
  <div class="image-carousal-wrap {{carousalWrapperClass}}">
    {{>starterkit-atoms-headings}}
    <div class="image-carousal {{carousalName}}">
      {{#carousalContent}}
        <div class="carousal-content">
          <div class="">
            {{>starterkit-atoms-images}}
          </div>
        </div>
      {{/carousalContent}}
    </div>
  </div>
{{/imageCarousalImageOnly}}