{{#headerWithoutSearch}}
  <div class="header">
    <div class="wrapper">
      <div class="clearfix top-nav-links">
        {{>starterkit-molecules-top-navigation}}
      </div>
      <div class="clearfix">
        <div class="logo">
          <a href="/" class="logo-container">
            {{>starterkit-atoms-logo}}
          </a>
        </div>
        <div class="nav-bar">
          {{>starterkit-molecules-main-navigation}}
          {{>starterkit-molecules-social-media}}
        </div>
        <div class="hamburger visible-mobile">
          <div class="menuIcon">
            <div class="div-menu"><a href="#" class="menu-button">MENU</a>
              <div class="bar">
                <div class="bar-1"></div>
                <div class="bar-2"></div>
                <div class="bar-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/headerWithoutSearch}}