{{#accordion}}
  <div class="accordion-list {{accordionClass}}">
    {{#singleCard}}
      <div class="card {{accordionSubClass}}">
        {{#toggleLink}}
          <p class="">
            <a class="{{linkClass}}" href="#" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="{{collapseName}}" data-target="{{targetLink}}">{{linkTxt}}</a>
          </p>
        {{/toggleLink}}
        <div class="row">
          <div class="col">
            <div class="collapse {{collapseClass}}" id="{{accordionid}}">
              <div class="card-body">
                {{#listBody}}
                  {{>starterkit-atoms-headings}}
                  {{>starterkit-atoms-list}}
                {{/listBody}}
                {{#paraBody}}
                  {{>starterkit-atoms-paragraph}}
                  {{#secPara}}
                    {{>starterkit-atoms-paragraph}}
                  {{/secPara}}
                {{/paraBody}}
                {{#innerContentBox}}
                  {{>starterkit-organisms-content-box-with-image}}
                {{/innerContentBox}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/singleCard}}
  </div>
{{/accordion}}