{{#ucdTab}}
  <div class="{{isiFixedClass}}">
    <div class="tabs-container cf">
      <div class="tab-button-container tab-split content-wrapper cf align-tabs">
        {{#firstTab}}
          {{>starterkit-atoms-headings}}
          {{#headingTwo}}
            {{>starterkit-atoms-headings}}
          {{/headingTwo}}
          <a href="#" class="tab-button-expand" data-show="{{data-value}}"><span>+</span></a>
          <a href="#" class="tab-button-close"><span>close</span> <span>-</span></a>
        {{/firstTab}}
      </div>
      <div class="tab-button-container tab-split content-wrapper cf align-tabs">
        {{#secondTab}}
          {{>starterkit-atoms-headings}}
          <a href="#" class="tab-button-expand" data-show="{{data-value}}"><span>+</span></a>
          <a href="#" class="tab-button-close"><span>close</span> <span>-</span></a>
        {{/secondTab}}
      </div>
      <div data-view="first-tab" class="first-wrapper">
        {{#firstPanel}}
          <div class="tab-container" id="first-double-tab-isi">
            <section class="isi-static isi-container content-wrapper">
              <div class="row">
                <div class="col-lg-10">
                  <div class="isi-section">
                    {{#topInfo}}
                      {{>starterkit-atoms-paragraph}}
                      {{#topInfoPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/topInfoPara}}
                    {{/topInfo}}
                  </div>
                  <div class="isi-section">
                    {{#isiOne}}
                      {{>starterkit-molecules-heading-with-paragraph}}
                      {{#isiOnePara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/isiOnePara}}
                      <div class="row">
                        <div class="col-lg-6">
                          {{#isiListOne}}
                            {{>starterkit-atoms-list}}
                          {{/isiListOne}}
                        </div>
                        <div class="col-lg-6">
                          {{#isiListTwo}}
                            {{>starterkit-atoms-list}}
                          {{/isiListTwo}}
                        </div>
                      </div>
                    {{/isiOne}}
                  </div>
                  <div class="isi-section">
                    {{#isiTwo}}
                      {{>starterkit-atoms-paragraph}}
                      {{#isiTwoPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/isiTwoPara}}
                      <div class="row">
                        <div class="col-lg-6">
                          {{#isiTwoListOne}}
                            {{>starterkit-atoms-list}}
                          {{/isiTwoListOne}}
                        </div>
                        <div class="col-lg-6">
                          {{#isiTwoListTwo}}
                            {{>starterkit-atoms-list}}
                          {{/isiTwoListTwo}}
                        </div>
                      </div>
                    {{/isiTwo}}
                  </div>
                  <div class="isi-section">
                    {{#isiThree}}
                      {{>starterkit-atoms-paragraph}}
                      {{#isiThreePara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/isiThreePara}}

                      {{>starterkit-molecules-nested-list}}
                    {{/isiThree}}
                  </div>
                  <div class="isi-section">
                    {{#isiFour}}
                      {{>starterkit-atoms-paragraph}}
                      {{#isiFourPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/isiFourPara}}
                      {{#isiFourOne}}
                        {{>starterkit-atoms-list}}
                      {{/isiFourOne}}
                    {{/isiFour}}
                  </div>
                  <div class="isi-section">
                    {{#isiFive}}
                      {{>starterkit-atoms-paragraph}}
                      <div class="row">
                        <div class="col-lg-6">
                          {{#isiFiveListOne}}
                            {{>starterkit-atoms-list}}
                          {{/isiFiveListOne}}
                        </div>
                        <div class="col-lg-6">
                          {{#isiFiveListTwo}}
                            {{>starterkit-atoms-list}}
                          {{/isiFiveListTwo}}
                        </div>
                      </div>
                    {{/isiFive}}
                  </div>
                  <div class="isi-section">
                    {{#isiSix}}
                      {{>starterkit-atoms-paragraph}}
                      <div class="row">
                        <div class="col-lg-6">
                          {{#isiSixListOne}}
                            {{>starterkit-atoms-list}}
                          {{/isiSixListOne}}
                        </div>
                        <div class="col-lg-6">
                          {{#isiSixListTwo}}
                            {{>starterkit-atoms-list}}
                          {{/isiSixListTwo}}
                        </div>
                      </div>
                    {{/isiSix}}
                  </div>
                  <div class="isi-section">
                    {{#isiSeven}}
                      {{>starterkit-atoms-paragraph}}
                      <div class="row">
                        <div class="col-lg-6">
                          {{#isiSevenListOne}}
                            {{>starterkit-atoms-list}}
                          {{/isiSevenListOne}}
                        </div>
                        <div class="col-lg-6">
                          {{#isiSevenListTwo}}
                            {{>starterkit-atoms-list}}
                          {{/isiSevenListTwo}}
                        </div>
                      </div>
                    {{/isiSeven}}
                  </div>
                  <div class="isi-section">
                    {{#isiEight}}
                      {{>starterkit-atoms-paragraph}}
                      <div class="row">
                        <div class="col-lg-6">
                          {{#isiEightListOne}}
                            {{>starterkit-atoms-list}}
                          {{/isiEightListOne}}
                        </div>
                        <div class="col-lg-6">
                          {{#isiEightListTwo}}
                            {{>starterkit-atoms-list}}
                          {{/isiEightListTwo}}
                        </div>
                      </div>
                    {{/isiEight}}
                  </div>
                  {{#isiFootnote}}
                    {{>starterkit-atoms-paragraph}}
                  {{/isiFootnote}}
                  <div class="isi-section">
                    {{#isiNine}}
                      {{>starterkit-atoms-paragraph}}
                      {{#isiNinePara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/isiNinePara}}
                    {{/isiNine}}
                  </div>
                </div>
              </div>
            </section>
          </div>
        {{/firstPanel}}
      </div>
      <div data-view="second-tab" class="second-wrapper">
        {{#secondPanel}}
          {{#isiButHeading}}
            {{>starterkit-atoms-headings}}
          {{/isiButHeading}}

          <div class="tab-container" id="second-double-tab-isi">
            <section class="isi-static isi-container content-wrapper">
              <div class="row">
                <div class="col-lg-10">
                  <div class="isi-section">
                    {{#secondisiOne}}
                      {{>starterkit-atoms-paragraph}}
                      {{#oneFirstPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/oneFirstPara}}
                      {{#secondisiOneList}}
                        {{>starterkit-atoms-list}}
                      {{/secondisiOneList}}
                      {{#oneSecondPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/oneSecondPara}}
                    {{/secondisiOne}}
                  </div>
                  <div class="isi-section">
                    {{#secondisiTwo}}
                      {{>starterkit-atoms-paragraph}}
                      {{#twoFirstPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/twoFirstPara}}
                    {{/secondisiTwo}}
                  </div>
                  <div class="isi-section">
                    {{#thirdisiTwo}}
                      {{>starterkit-atoms-paragraph}}
                      {{#threeFirstPara}}
                        {{>starterkit-atoms-paragraph}}
                      {{/threeFirstPara}}
                    {{/thirdisiTwo}}
                  </div>
                  {{#footNotePara}}
                    {{>starterkit-atoms-paragraph}}
                  {{/footNotePara}}
                </div>
              </div>
            </section>
          </div>
        {{/secondPanel}}
      </div>
    </div>
  </div>
{{/ucdTab}}