{{#nestedListWrap}}
  <ul class="{{nestedListClass}}">
    {{#nestedList}}
      <li>
        {{{parentListItem}}}
        {{>starterkit-atoms-list}}
      </li>
    {{/nestedList}}
  </ul>
{{/nestedListWrap}}