{{#image3ColumnWrapper}}
  <div class="{{imageColWrapperClass}}">
    <ul>
      {{#singleImage}}
        <li>
          {{>starterkit-atoms-images}}
          {{>starterkit-atoms-headings}}
          {{>starterkit-atoms-paragraph}}
        </li>
      {{/singleImage}}
    </ul>
  </div>
{{/image3ColumnWrapper}}