{{#contentHeadingCTADual}}
<div class="row d-flex justify-content-center">
{{#col1}}
{{>brand-test-molecules-content-heading-cta}}
{{/col1}}
{{#col2}}
{{>brand-test-molecules-content-heading-cta}}
{{/col2}}
</div>
{{/contentHeadingCTADual}}