{{#multicolumn}}
  <div class="col-md-{{column}} mullticolumn {{bgColor}} {{borderClass}} {{multiColumnParentDiv}}">
    <a href="{{imgLink}}">
      {{#imgVar}}
        {{>starterkit-atoms-images}}
      {{/imgVar}}
      <div class="txt-wrap">
        {{>starterkit-atoms-paragraph}}
      </div>
    </a>
  </div>
{{/multicolumn}}