<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #B73A3A;"></span>
    <span class="sg-label">
      $color-utility-warning <br />
      #B73A3A
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #293A7B;"></span>
    <span class="sg-label">
      $color-utility-info <br />
      #293A7B
    </span>
  </li>
</ul>