{{#backtoMenu}}
  <div class="backto-menulist">
    <ul class="{{listParent}}">
      {{#list}}
        <li class="{{listClass}}">
          <a href="#">{{linkText}}</a>
          <span class="inline-icon"></span>
        </li>
      {{/list}}
    </ul>
  </div>
{{/backtoMenu}}