{{#documentList}}
  <div class="document-list {{documentListClass}}">
    <ul>
      {{#documentListItems}}
        <li class="{{docTypeClass}}">{{>starterkit-atoms-links}}</li>
      {{/documentListItems}}
    </ul>
  </div>
{{/documentList}}