{{#customLayoutUnderstandingUcd}}
	<div class="col-lg-5 {{customLayoutUcdClass}}">
		{{#para1}}
			{{>starterkit-atoms-paragraph}}
		{{/para1}}
		{{#para2}}
			{{>starterkit-atoms-paragraph}}
		{{/para2}}
		<div class="graphic-inner">
		<img src="{{understandingUCDImageURL}}" alt="" class="graph-for-ie"></div>
	</div>
{{/customLayoutUnderstandingUcd}}
