{{#imageTextSplit}}
	<div class="col-md-{{midLColVal}}">
		<div class="left-img-wrapper">
			{{>starterkit-atoms-images}}
		</div>
	</div>
	<div class="col-md-{{midRColVal}}">
		<div class="right-txt-wrapper">
			{{#firstPara}}
				{{>starterkit-atoms-paragraph}}
			{{/firstPara}}
			{{>starterkit-atoms-list}}
			{{#bottomPara}}
				{{>starterkit-atoms-paragraph}}
			{{/bottomPara}}
		</div>
	</div>
{{/imageTextSplit}}