{{#centeredImage}}
  <div class="centered-image bg-beige">
    <img class="hidden-desktop" src="{{centeredImagePathDesktop}}" alt="" />
    <img class="hidden-mobile" src="{{centeredImagePathMobile}}" alt="" />
  </div>
{{/centeredImage}}