{{#contentBox}}
  <div class="content-box">
    {{>starterkit-atoms-headings}}
    {{#contentWithLink}}
      <p>{{contentDesc1}}</p>
      <div>
        {{>starterkit-atoms-links}}
      </div>
      <p>{{contentDesc2}}</p>
    {{/contentWithLink}}

    {{#imageOnly}}
      <div>
        {{>starterkit-atoms-images}}
      </div>
    {{/imageOnly}}

    {{#contentWithBtn}}
      <p>{{contentDesc1}}</p>
      <div>
        {{>starterkit-atoms-button}}
      </div>
    {{/contentWithBtn}}
  </div>
{{/contentBox}}