{{#drugLinksTable}}
  <div class="row">
    <div class="drug-links-table col-lg-12 col-xs-12 {{drugLinksTableClass}}">
      <div class="brand-img col-lg-6 col-xs-12">
        {{>starterkit-atoms-images}}
      </div>
      <div class="drugs-link col-lg-6 col-xs-12">
        {{>starterkit-atoms-link-list}}
      </div>
    </div>
  </div>
{{/drugLinksTable}}