{{#search}}
  <div class="input-with-icon {{wrapperClass}}">
    <input type="text" class="{{inputClass}}" placeholder="{{inputPlaceholder}}">
    <a href="#" class="search-btn"><img src="{{seachIcon}}" data-search="{{seachIcon}}" data-close="{{closeIcon}}" alt="search"></a>
  </div>
{{/search}}