.contentBlock {
  text-align: center;
  padding: 20px; }
  .contentBlock .link-heading {
    text-transform: uppercase;
    color: #ce197c; }
  .contentBlock p {
    color: grey; }

.button-gradient {
  color: #fff;
  background: #ce197c;
  background: linear-gradient(90deg, #ce197c 0%, #86236a 100%);
  border-radius: 27px;
  padding: 10px 20px; }
