{{#textBannerImage}}
  <div class="text-banner-wrapper {{banner-padding}}">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-banner">
            {{>starterkit-atoms-headings}}
            <div class="text-img">
              {{>starterkit-atoms-images}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/textBannerImage}}