{{#contentHeadingCTA}}
  <div class="contentBlock {{contentBlockClass}}">
    {{>starterkit-atoms-headings}}
    {{>starterkit-atoms-paragraph}}
    {{>starterkit-atoms-button}}
  </div>
{{/contentHeadingCTA}}