{{#fullWidthImage}}
  <div class="full-width-image-wrapper {{fullWidthWrapperClass}}">
    <div class="{{bannerClass}}">
      {{>starterkit-atoms-images}}
      <div class="banner-content">
        <q>{{testimonialContent}}</q>
        <p><span>&mdash;{{testimonialAuthor}}, </span> {{testimonialState}}</p>
      </div>
    </div>
  </div>
{{/fullWidthImage}}