{{#rightRail}}
  <div class="aside-nav">
    <ul class="scrollspy-sidebar">
      {{#asideLinks}}
        <li class="{{className}} hidden-xs">{{>starterkit-atoms-links}}</li>
      {{/asideLinks}}
      {{#socialLinks}}
        {{>starterkit-molecules-social-media}}
      {{/socialLinks}}
      {{#linkIcons}}
        <li class="link-icons hidden-xs">{{>starterkit-atoms-links-image}}</li>
      {{/linkIcons}}

    </ul>
  </div>
{{/rightRail}}