{{#imageList}}
  <img src="{{mobImgPath}}" alt="{{imgAlttxt}}" class="small-screen-img {{imgClass}}">
  <img src="{{tabImgPath}}" alt="{{imgAlttxt}}" class="medium-screen-img {{imgClass}}">
  <img src="{{imgPath}}" alt="{{imgAlttxt}}" class="large-screen-img {{imgClass}}">
{{/imageList}}