{{#contentBoxWithImageContent}}
	<div class="content-box-with-image {{boxImagePos}}">
		<div class="box-image">
			<img src="{{boxImageURL}}" alt="" />
		</div>
		<div class="content-box-text">
		{{#contentBox}}
			{{>starterkit-atoms-paragraph}}
		{{/contentBox}}
		</div>
	</div>
{{/contentBoxWithImageContent}}