{{#newsBanner}}
	<div class="news-banner-wrapper {{news-banner-parent-div}}">
		<div class="news-banner-container">
			<span class="news-banner-close"> </span>
			<div class="main-content">
				{{>starterkit-atoms-headings}}
				<p>{{{newsBannerContent}}}</p>
			</div>
		</div>
	</div>
{{/newsBanner}}