{{#textCarouselWrapper}}
	<div class="text-carousel-wrap">
		{{#carouselContent}}
			<div class="carousel-content">
				{{>starterkit-atoms-headings}}
				{{>starterkit-atoms-paragraph}}
			</div>
		{{/carouselContent}}
	</div>
{{/textCarouselWrapper}}