{{#zipcodeTwoColumn}}
	<div class="zipcode-callout {{twoColumnClass}}">
		{{>starterkit-organisms-zipcode-box}}
		<div class="right-content-img">
			<a href="#">
  			{{>starterkit-atoms-images}}
  			{{>starterkit-atoms-headings}}
  			{{>starterkit-atoms-paragraph}}
  		</a>	
		</div>
	</div>
{{/zipcodeTwoColumn}}