{{#listAnchor}}
  <a href="{{{link}}}" class="{{linkTopClass}}" data-link="{{linkType}}" target="{{{linkTarget}}}">{{{linkTopTxt}}}</a>
  <a href="{{{link}}}" class="{{linkBottomClass}}" data-link="{{linkType}}" target="{{{linkTarget}}}">{{{linkBottomTxt}}}</a>
{{/listAnchor}}