{{#video}}
<div class="{{videoTypeClass}}">
    <iframe src="{{vimeoSrc}}" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="{{videoId}}" {{# video.attributes }}{{ name }}="{{ value }}" {{/ video.attributes }}></iframe>
</div>
{{/video}}