{{#dropNav}}
  <div class="filter-select">
    <select class="c-custom-select">
      {{#navOption}}
        <option value="{{optionValue}}">{{navSelect}}</option>
      {{/navOption}}
    </select>
  </div>
{{/dropNav}}