{{#blocks2Column}}
  <div class="blocks-2-column-wrap {{wrapClass}}">
    <div class="row">
      <div class="col">
        {{>starterkit-organisms-cta}}
      </div>
      <div class="col">
        {{#contentBox}}
          <div class="right-content-img">
            <a href="#">
              {{>starterkit-atoms-images}}
              {{>starterkit-atoms-headings}}
              {{#para}}
                {{>starterkit-atoms-paragraph}}
              {{/para}}
            </a>
          </div>
        {{/contentBox}}
      </div>
    </div>
  </div>
{{/blocks2Column}}