{{#imageTile}}
  <div class="image-tile-wrap {{wrapperClass}}">
    <a href="{{links.link}}">
      {{>starterkit-atoms-images}}
      <div class="content-wrap">
        {{>starterkit-atoms-headings}}
        <p>{{{imageDescription}}}</p>
      </div>
    </a>
  </div>
{{/imageTile}}