{{#linklistWrap}}

  <{{linklistType}} class="{{linklistClass}}">
    {{#linklist}}
      <li>
        <a href="{{itemLink}}">{{{linklistItem}}}</a>
      </li>
    {{/linklist}}
  </{{linklistType}}>

{{/linklistWrap}}