{{#videoContentSplit}}
  <div class="{{videoContentWrapperClass}}">
    <div class="{{videoWrapperClass}}">
      {{>starterkit-atoms-video-vimeo}}
    </div>
    <div class="{{contentWrapperClass}}">
      {{>starterkit-molecules-heading-with-paragraph}}
    </div>
  </div>
  <div class="{{downloadWrapperClass}}">
    {{>starterkit-atoms-links}}
  </div>
{{/videoContentSplit}}