{{#iconList}}
  <div class="icon-list-wrapper">
    <div class="left-content">
      {{#iconListWrapper}}
        <div class="icon-list-content">
          {{#img}}
          <span>
            <img src="{{imgSrc}}" class="{{imgCLass}}" alt="Alt text">
          </span>
          {{/img}}
          {{>starterkit-atoms-paragraph}}
        </div>
      {{/iconListWrapper}}
    </div>
    <div class="right-content">
      {{#rightContentWrapper}}
        {{#iconListWrapper}}
          <div class="icon-list-content">
            {{#img}}
            <span>
              <img src="{{imgSrc}}" class="{{imgCLass}}" alt="Alt text">
            </span>
            {{/img}}
            {{>starterkit-atoms-paragraph}}
          </div>
        {{/iconListWrapper}}
      {{/rightContentWrapper}}
    </div>
  </div>
{{/iconList}}