{{#hp-footer}}
<div class="footer-holder">
	<div class="footer-content">
			{{#footerTop}}
				<ul>
				{{#listInitial}}
				<li><a href="#">{{listText}}</a></li>
				{{/listInitial}}
				<li>
				<a href="#">{{listSocialtext}}</a>
				{{>starterkit-molecules-social-media}}
				</li>
				</ul>
			{{/footerTop}}	
	
	</div>	
</div>
{{/hp-footer}}
