	{{#footerTwo}}
	<div class="copyright">
		{{#footerCenter}}
			{{>starterkit-atoms-paragraph}}
			{{>starterkit-atoms-link-list}}	
		{{/footerCenter}}	
		</div>

	<div class="footer-additional-info">
			{{#footerEnd}}
				{{>starterkit-atoms-paragraph}}
			{{/footerEnd}}	
	</div>
	{{/footerTwo}}