{{#formTepro}}
	{{#mainHeading}}
		{{>starterkit-atoms-paragraph}}
	{{/mainHeading}}
	{{#contactForm}}
	<div class="contact-form {{contactFormClass}}">
	<form action="{{formAction}}">
	<div class="row">
	<div class="col-md-12">
	{{#firstNameInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/firstNameInput}}
	{{#lastNameInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/lastNameInput}}
	{{#emailInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/emailInput}}
	{{#zipCodeInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/zipCodeInput}}
	{{#cityInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/cityInput}}
	{{#stateInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/stateInput}}
	{{#degreeInput}}
		{{>starterkit-molecules-custom-dropdown}}
	{{/degreeInput}}
	{{#specialityInput}}
		{{>starterkit-molecules-custom-dropdown}}
	{{/specialityInput}}
	{{#npiInput}}
		{{>starterkit-molecules-input-with-label}}
		{{>starterkit-atoms-paragraph}}
	{{/npiInput}}
	{{#manageInput}}
		{{>starterkit-molecules-input-with-label}}
	{{/manageInput}}
	{{#termCheckbox}}
		<div class="radio-button-wrap">
			{{>starterkit-atoms-radio-button}}
		</div>
	{{/termCheckbox}}

	<button type="submit" class="{{buttonClass}}">Submit</button>
	</div>
	</div>
	</form>
	</div>
	{{/contactForm}}
{{/formTepro}}