{{#linkSpan}}
  <a href="{{{link}}}" class="{{linkClass}}" data-link="{{linkType}}" target="{{{linkTarget}}}">
    <span class="link-underline">{{linkTxtleft}}</span>
    <span class="grey-text {{caretClass}}">{{{linkTxtright}}}</span>
  </a>
{{/linkSpan}}