<div class="custom-control custom-checkbox mr-sm-2">

  <input class="custom-control-input" type="{{checkBox.type}}" id="{{checkBox.checkid}}">
  <label class="custom-control-label align-middle" aria-labelledby="{{checkBox.checkid}}" for="{{checkBox.checkid}}">
        {{{ checkBox.label }}}
      </label>

</div>
