/* Color Variables */
$white: #ffffff;
$black: #000000;
$grey: #636466;
$medium-grey: #b1b1b2;
$light-grey: #e0e0e0;
$lighter-grey: #f4f4f4;
$dark-grey: #676767;
$darkest-grey: #242525;
$error-text: #BC0000;
$base-grey-color: #58585B;
$primary: #54338f;
$secondary: #dea338;

/* Media Queries */
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 900px;
$mobile-breakpoint: 768px;
$smartphone-landscape-breakpoint: 480px;
$smartphone-portrait-breakpoint: 320px;
