{{#anchorListSpan}}
<section class="helpful-links">
<div class="div-links">
  {{>starterkit-atoms-headings}}
<ul>
  {{#helpList}}
  <li>
    {{>starterkit-atoms-links-span}}
  </li>
  {{/helpList}}
</ul>
</div>
</section>
{{/anchorListSpan}}
