{{#cards2ColumnWithLink}}
	<div class="cards-2-column-wrapper {{wrapperClass}}">
		<div class="row">
			{{#cards2Images}}
			<div class="col-md-6">
				{{>starterkit-molecules-image-tile-with-link}}
			</div>
			{{/cards2Images}}
		</div>
	</div>
{{/cards2ColumnWithLink}}