{{#featuredContentCollage}}
<div class="featured-content-wrapper">
	{{>starterkit-atoms-headings}}
	<p>{{collageContent}}</p>
	<div class="featured-tile-wrap">
		<div class="row">
			<div class="col-md-6 {{leftColumnClass}}">
				{{>starterkit-molecules-image-tile}}
			</div>
			<div class="col-md-6">
				{{>starterkit-organisms-cards-2-column}}
			</div>
		</div>
	</div>
</div>
{{/featuredContentCollage}}