{{#footerNav}}
<div class="row {{footerNavWrapClass}}">
    {{#columns}}
    <div class="col">
        <ul class="{{footerNavListClass}}">
            {{#footerNavLinks}}
            <li>{{>starterkit-atoms-links}}</li>
            {{/footerNavLinks}}
        </ul>
    </div>
    {{/columns}}
</div>
{{/footerNav}}