{{#languageSelector}}
<div class="language-selector">
<ul>
{{#listItems}}	
<li class="{{listClass}}">
<a href="#" ga-tag="{{gaTag}}" class="{{linkClass}}">{{linkTxt}}</a>
</li>
{{/listItems}}	
</ul>	
</div>

{{/languageSelector}}