{{#secondaryHeader}}
<div class="secondary-header-wrap">
	<div class="secondary-header">
		<div class="mobile-menu-btn"></div>
		<div class="logo-nav">
			<a href="{{logoTEDLink}}">{{>starterkit-atoms-images}}</a>
			<div class="tablet-signup-btn">
				{{>starterkit-atoms-button}}
			</div>
			{{>starterkit-molecules-top-navigation}}
			<div class="mobile-overlay"></div>
		</div>
		<div class="mobile-signup-btn">
			{{>starterkit-atoms-button}}
		</div>
		<div class="homepage-banner-content">
		{{#bannerCopy}}
			{{>starterkit-atoms-headings}}
			{{>starterkit-atoms-paragraph}}
		{{/bannerCopy}}	
		</div>
	</div>
</div>
{{/secondaryHeader}}