{{#tab}}
<div class="{{tabWrapperClass}}">
    <ul class="nav nav-tabs">
        {{#tabLinks}}
            <li class="nav-item">
              <a class="nav-link {{isActiveClass}}" data-toggle="tab" href="{{tabId}}">{{text}}</a>
            </li>
       {{/tabLinks}}
    </ul> 
    <div class="tab-content">
        {{#tabContent}}
        <div class="tab-pane fade {{isActiveClass}}" id="{{tabId}}">
            {{>starterkit-atoms-images}}
        </div> 
        {{/tabContent}}
    </div> 
</div>
{{/tab}} 