{{#ucdFooter}}
	<footer class="{{footerWrapperClass}}">
    	<div class="row {{flexDirection}}">
    		<div class="{{footerLogoClass}}">
				{{>starterkit-atoms-links}}
    		</div>
    		<div class="{{footerContentClass}}">
    			{{>starterkit-atoms-paragraph}}
    			{{#para-two}}
    				{{>starterkit-atoms-paragraph}}
    			{{/para-two}}
    			{{#para-last}}
    				{{>starterkit-atoms-paragraph}}
    			{{/para-last}}
    		</div>
    		<div class="{{footerLinksClass}}">
    			{{>starterkit-atoms-link-list}}
    		</div>
        </div>
    </footer>
{{/ucdFooter}}