{{#ucdHeader}}
	<div class="page-header">
		{{#logoWrapper}}
			<div class="{{logoWrapperClass}}">
				{{>starterkit-atoms-images-link}}
			</div>
			<div class="{{menuWrapperClass}}">
				{{#primaryNav}}
					<div class="site-selector">
						{{>starterkit-molecules-dropdown-selector}}
					</div>
					{{>starterkit-atoms-paragraph}}
				{{/primaryNav}}
			</div>
		{{/logoWrapper}}
	</div>
{{/ucdHeader}}