{{#cards3Column}}
  <div class="cards-3-column-wrapper {{wrapperClass}}">
    <div class="row">
      {{#cards3Images}}
        <div class="col-md-3">
          {{>starterkit-molecules-image-tile}}
        </div>
      {{/cards3Images}}
    </div>
  </div>
{{/cards3Column}}