{{#downloadBox}}
<div class="download-box">
    <div class="text">
      {{>starterkit-atoms-headings}}
      {{>starterkit-atoms-paragraph}}
    </div>
    <div class="icon-container">
        <a href="{{linkPath}}" target="{{targetValue}}">
              {{>starterkit-atoms-image}}
              <div class="description-container">
                <div class="action-container">
                <span class="action">Download</span> 
                <span class="icon icon-download-arrow"></span>
                </div>
                <span class="description">the facts about CGD</span> 
                <span class="icon icon-alt icon-download-arrow"></span>
           </div>
        </a>
    </div>
</div>
{{/downloadBox}}

