{{#fullWidthBannerWrapper}}
	<div class="fullwidth-banner"></div>
	<div class="fullwidth-banner-content">
		{{>starterkit-atoms-headings}}
		{{#subHeadingFirstLine}}
			{{>starterkit-atoms-headings}}
		{{/subHeadingFirstLine}}
		{{#subHeadingsecondLine}}
			{{>starterkit-atoms-headings}}
		{{/subHeadingsecondLine}}
	</div>
{{/fullWidthBannerWrapper}}