{{#imageTileWithLink}}
<div class="image-tile-wrap {{wrapperClass}}">
	{{>starterkit-atoms-images}}
	<div class="content-wrap">
		<p>{{{imageDescription}}}</p>
		{{>starterkit-atoms-links}}
	</div>
</div>
{{/imageTileWithLink}}