{{#imageLibrary}}
	<div class="image-items-wrap">
		<div class="image-item">
			{{>starterkit-atoms-images-link}}
		</div>
		<div class="image-meta">
		{{#personMeta}}
		   		{{>starterkit-atoms-headings}}
			{{#metaSecondHead}}
		  		{{>starterkit-atoms-headings}}               
		   	{{/metaSecondHead}}           
				{{>starterkit-atoms-links}}
			{{#metaSecondlink}}
				{{>starterkit-atoms-links}}
			{{/metaSecondlink}}
	   	{{/personMeta}}
		</div>
	</div>
{{/imageLibrary}}