<!-- Header -->
{{#commonHeaderFooterData}}
<section class="hz-header-wrap" data-toggle="affix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{>starterkit-organisms-header}}
			</div>
		</div>
	</div>
</section>
{{/commonHeaderFooterData}}

<!-- Signup Wrap -->
<section class="signup-form">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="signup-wrapper">
					<div class="form-heading col-lg-8">
						{{>starterkit-atoms-headings}}
					</div>
					<div class="form-wrapper col-lg-8">
						{{>starterkit-atoms-paragraph}}
						{{#formWrapper}}
						<form action="{{formAction}}" novalidate="novalidate" id="regForm">
							{{#formFields}}
								{{>starterkit-molecules-input-with-label}}
							{{/formFields}}

							{{#radioButton}}
								{{>starterkit-atoms-paragraph}}
								<fieldset class="radio-button-wrap">
									{{#radioButtonList}}
										{{>starterkit-atoms-radio-button}}
									{{/radioButtonList}}
								</fieldset>
							{{/radioButton}}

							{{#radioButtonHomeAddress}}
								{{>starterkit-atoms-paragraph}}
								<fieldset class="radio-button-wrap">
									{{#radioButtonList}}
										{{>starterkit-atoms-radio-button}}
									{{/radioButtonList}}
								</fieldset>
							{{/radioButtonHomeAddress}}
							{{#addHomeAddress}}
							<div class="subscribe-snail-mail">
								{{#formFields}}
									{{#primaryFields}}
										{{>starterkit-molecules-input-with-label}}
									{{/primaryFields}}
									{{#dropdown}}
										{{>starterkit-atoms-form-label}}
										{{>starterkit-atoms-select-dropdown}}
									{{/dropdown}}
									{{#zipcode}}
										{{>starterkit-molecules-input-with-label}}
									{{/zipcode}}
								{{/formFields}}
							</div>
							{{/addHomeAddress}}
							<div class="privacy-notice">
								{{#privacyNotice}}
									{{>starterkit-molecules-heading-with-paragraph}}
									<div class="radio-flex">
										{{>starterkit-atoms-radio-button}}
									</div>
								{{/privacyNotice}}
							</div>							
							<button class="cta-btn {{submitClass}}">{{submitTxt}}</button>
						</form>
						{{/formWrapper}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Footer -->
{{#commonHeaderFooterData}}
<section class="hz-footer-wrapper signup-footer mb0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{>starterkit-organisms-footer}}
			</div>
		</div>
		<div class="row hidden-desktop visible-mobile">
			{{>starterkit-organisms-back-to-top}}
		</div>
	</div>
</section>
{{/commonHeaderFooterData}}
