{{#footerGeneric}}
	<footer class="pennsaid-generic-footer-wrapper">
		<div class="footer-top">
			<div class="footer-nav">
				{{#footLinks}}
						{{>starterkit-atoms-link-list}}
				{{/footLinks}}
			</div>
	 	</div>
	 	<div class="copyright-wrapper">
			<div class="footer-logo">
				{{>starterkit-atoms-images-link}}
				{{#footerParaLogo}}
					{{>pennsaid-molecules-paragraph-with-link}}
				{{/footerParaLogo}}
			</div>
			<div class="footer-content">
				{{#footerParaContent}}
					{{>starterkit-atoms-paragraph}}
				{{/footerParaContent}}
			</div>
		</div>
	</footer>
{{/footerGeneric}}
