{{#header}}
  <div class="site-header">
    {{>starterkit-molecules-top-navigation}}				
    <div class="head-wrapper">
      <a href="/" class="site-branding">
        <img src="https://www.pennsaid.com/wp-content/themes/pennsaid/images/logo.png">
      </a>
      <div class="mobile" id="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav id="site-navigation" class="main-navigation">
        {{>starterkit-molecules-main-navigation}}					
      </nav>
    </div>
  </div>
{{/header}}
