{{#fullWidthBannerWrapper}}
  <div class="banner-container">
    <div class="fullwidth-banner"></div>
    <div class="fullwidth-banner-content">
      {{>starterkit-atoms-headings}}
      {{#subHeadingFirstLine}}
        {{>starterkit-atoms-headings}}
      {{/subHeadingFirstLine}}
      {{#subHeadingsecondLine}}
        {{>starterkit-atoms-headings}}
      {{/subHeadingsecondLine}}
    </div>
    <a href="javascript:void(0)" class="{{anchorClass}}" data-link="" target="">
      <span>{{spanTxt}}</span>
    </a>
  </div>
{{/fullWidthBannerWrapper}}