{{#contentHeadingCTADual}}
<div class="row d-flex justify-content-center">
{{>brand-test-organisms-content-heading-cta}}
{{>brand-test-organisms-content-heading-cta}}
</div>
{{/contentHeadingCTADual}}