{{#header}}
  <div class="header header-demo" data-toggle="affix">
    <div class="wrapper">
      <div class="clearfix">
        <div class="logo-wrapper">
          <div class="logo">
            <a href="#" class="logo-container">
              {{>starterkit-atoms-logo}}
            </a>
          </div>
        </div>
        <div class="nav-wrapper">
          <div class="selector-wrapper">
            <div class="clearfix top-nav-links">
              {{>starterkit-molecules-top-navigation}}
            </div>
          </div>
          <div class="menu-wrapper">
            <div class="nav-bar">
              {{>starterkit-molecules-main-navigation}}
            </div>
            <div class="hamburger visible-mobile">
              <div class="menuIcon">
              </div>
            </div>
            <div class="search-field">
              {{>starterkit-molecules-header-search}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/header}}