.social-media {
  .class-itag{
    display: none;
  }
  ul {
  	list-style-type: none;
  	padding-left: 0;
    li {
    	display: inline-block;
      margin: 0;
      padding-left:19px;
      &:first-child{
        padding-left: 0px;
      }
      a {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 24px;
        padding: 0px;
        text-decoration: none !important;
        text-align: center;
        color: $white-color;
        font-size: 25px;
        font-weight: normal;
        line-height: 2em;
        transition: all 0.2s ease-in-out;
        margin: 5px 0px;
        &.facebook-icon{
    			background-size: contain;
        }
        &.twitter-icon{
    			background-size: contain;
        }
        &.email-icon{
          background-size: contain;
        }
      }
    }
  }
}
