{{#textImageSplit}}
  <div class="col-md-{{midLColVal}}">
    <div class="left-txt-wrapper">
      {{#leftTxtWapper}}
        {{#firstPara}}
          {{>starterkit-atoms-paragraph}}
        {{/firstPara}}
        {{>starterkit-atoms-list}}
      {{/leftTxtWapper}}
    </div>
  </div>
  <div class="col-md-{{midRColVal}}">
    <div class="right-img-wrapper">
      {{>starterkit-atoms-images}}
    </div>
  </div>
{{/textImageSplit}}