{{#sectionBanner}}
  <section class="secondary-banner-wrap">
    <div class="secondary-banner-mobile"></div>
    <div class="secondary-banner">
      <div class="container">
        <h1>
          <span class="{{smallerClass}}">{{smallText}}</span>
          <span class="{{largerClass}}">{{largeText}}</span>
        </h1>
      </div>
    </div>
  </section>
{{/sectionBanner}}