{{#inputWithLabel}}
  <div class="form-group">
    {{>starterkit-atoms-form-label}}
    {{>starterkit-atoms-text-field}}
    {{#validationField}}
      <span class="field-validation-valid" data-valmsg-for="{{labelFor}}" data-valmsg-replace="true"></span>
    {{/validationField}}
  </div>
{{/inputWithLabel}}