<section>
  <p>First Variation: Image with split list</p>
  <p>Classes: <code>img-split-list-wrap > img-split-list</code></p>
  <br>
  {{#versionOne}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionOne}}
</section>

<br><br>

<section>
  <p>Second Variation: Image with split content</p>
  <p>Classes: <code>img-split-content-wrap > img-split-content</code></p>
  <br>
  {{#versionTwo}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionTwo}}
</section>

<br><br>

<section>
  <p>Third Variation: Image with list</p>
  <p>Classes: <code> img-list-wrap | img-list</code></p>
  <br>
  {{#versionThree}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionThree}}
</section>

<br><br>

<section>
  <p>Fourth Variation: Image with sub heading and list</p>
  <p>Classes: <code>img-headings-list-wrap > img-headings-list</code></p>
  <br>
  {{#versionFour}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionFour}}
</section>

<br><br>

<section>
  <p>Fifth Variation: Image with paragraph styled</p>
  <p>Classes: <code>img-styled-content-wrap > img-styled-content</code></p>
  <br>
  {{#versionFive}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionFive}}
</section>

<br><br>

<section>
  <p>Sixth Variation: Image with heading and content</p>
  <p>Classes: <code>img-heading-content-wrap > img-heading-content</code></p>
  <br>
  {{#versionSix}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionSix}}
</section>

<section>
  <p>Seventh Variation: Text with Leading and Trailing Images</p>
  <p>Classes: <code>leading-trailing-img</code></p>
  <br>
  {{#versionSeven}}
    {{>starterkit-organisms-text-leading-image}}
  {{/versionSeven}}
</section>